/* showcase */
#showcase {
    color: $white;
    font-family: $poppins;
}

#showcase .title {
    font-weight: $bold;
    font-size: 50px;
}

#showcase .ingress {
    width: 80%;
    margin: 2rem 0;
    font-size: 15px;
}

#showcase .watch-video {
    font-family: $roboto;   
    font-weight: $medium;
    color: $white;
    text-decoration: none;
}

#showcase .mobile-phones {
  position: relative;
  text-align: right;
}

#showcase .mp1 {
  position: relative;
  right: -50px;

}

#showcase .mp2 {
  position: absolute;
  right: 140px;
  top: 100px;
}