.btn {
    font-family: $roboto;  
    font-weight: $medium;
    border-radius: 12px;
    padding: 13px 22px;
    min-width: 160px;
    min-height: 50px;
}

.btn-warning {
    color: $white;
    background-color: $yellow;
    border-color: $yellow;
  }
  .btn-warning:hover {
    color: $white;
  }
  .btn-check:focus + .btn-warning, .btn-warning:focus {
    color: $white;
  }
  .btn-check:checked + .btn-warning, .btn-check:active + .btn-warning, .btn-warning:active, .btn-warning.active, .show > .btn-warning.dropdown-toggle {
    color: $white;
  }
  .btn-warning:disabled, .btn-warning.disabled {
    color: $white;
    background-color: $yellow;
    border-color: $yellow;
  }