/* _content/MongoBlazorServer/Components/CategorySelectorComponent.razor.rz.scp.css */


select[b-jjiedfq42e] {
    border-style: none;
    border: 0px;
    outline: 0px;
    overflow-y: auto;
    /*background-color: #111;*/ /* Black */
    /*color: #818181;*/
}
/* _content/MongoBlazorServer/Pages/AllProductsPage.razor.rz.scp.css */
/* The sidebar menu */
.sidenav[b-h14q3saxvp] {
    /*height: 100%;*/ /* Full-height: remove this if you want "auto" height */
    /*width: 160px;*/ /* Set the width of the sidebar */
    /*position: fixed;*/ /* Fixed Sidebar (stay in place on scroll) */
    /*z-index: 1;*/ /* Stay on top */
    /*top: 0;*/ /* Stay at the top */
    /*left: 0;*/
    /*background-color: #111;  Black */
    /*overflow-x: hidden;*/ /* Disable horizontal scroll */
    /*padding-top: 20px;*/
}

    /* The navigation menu links */
    .sidenav a[b-h14q3saxvp] {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        /*color: #818181;*/
        display: block;
    }

    .sidenav select[b-h14q3saxvp] {
        border-style: none;
        border: 0px;
        outline: 0px;
        overflow-y: auto;
        /*background-color: #111;*/ /* Black */
        /*color: #818181;*/
    }
/* _content/MongoBlazorServer/Pages/SandBox.razor.rz.scp.css */
*[b-07h2noa9fn] {
    box-sizing: border-box;
}

.container[b-07h2noa9fn] {
    position: relative;
    width: 50%;
    max-width: 300px;
}

.image[b-07h2noa9fn] {
    display: block;
    width: 100%;
    height: auto;
}

.overlay[b-07h2noa9fn] {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.container:hover .overlay[b-07h2noa9fn] {
    opacity: 1;
}
/* _content/MongoBlazorServer/Pages/Slider.razor.rz.scp.css */
*[b-dutvc4zfr7] {
    box-sizing: border-box;
}

.column[b-dutvc4zfr7] {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row[b-dutvc4zfr7]::after {
    content: "";
    clear: both;
    display: table;
}
/* _content/MongoBlazorServer/Shared/MainLayout.razor.rz.scp.css */
.page[b-t8n4jjggy1] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-t8n4jjggy1] {
    flex: 1;
}

.sidebar[b-t8n4jjggy1] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-t8n4jjggy1] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-t8n4jjggy1]  a, .top-row .btn-link[b-t8n4jjggy1] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-t8n4jjggy1] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-t8n4jjggy1] {
        display: none;
    }

    .top-row.auth[b-t8n4jjggy1] {
        justify-content: space-between;
    }

    .top-row a[b-t8n4jjggy1], .top-row .btn-link[b-t8n4jjggy1] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-t8n4jjggy1] {
        flex-direction: row;
    }

    .sidebar[b-t8n4jjggy1] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-t8n4jjggy1] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-t8n4jjggy1] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/MongoBlazorServer/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-r6yqwlm1bw] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-r6yqwlm1bw] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-r6yqwlm1bw] {
    font-size: 1.1rem;
}

.oi[b-r6yqwlm1bw] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-r6yqwlm1bw] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-r6yqwlm1bw] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-r6yqwlm1bw] {
        padding-bottom: 1rem;
    }

    .nav-item[b-r6yqwlm1bw]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-r6yqwlm1bw]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-r6yqwlm1bw]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-r6yqwlm1bw] {
        display: none;
    }

    .collapse[b-r6yqwlm1bw] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
