@page "/"
<!-- Local Storage -->
@inject Blazored.LocalStorage.ILocalStorageService oLocalStore

<h3>This is the homepage</h3>

<div class="row">
    <div class="col-md-4">
        <TaskList Name="Thommy"></TaskList>
    </div>
    <div class="col-md-4">
        <TaskList Name="Ymmoth"></TaskList>
    </div>
    <div class="col-md-4">
        <Counter></Counter>
    </div>
</div>
<div class="row">
    <RangeControl @bind-ValueHigh="ValueHigh" @bind-ValueLow="ValueLow" MinValue="0" MaxValue="800" Width="100"></RangeControl>
    <span>@ValueLow</span>-<span>@ValueHigh</span>
</div>
<br />
<!-- Local Storage -->
<input type="text" @bind="SessionValue" class="form-control" />
<br />

<button class="btn btn-success" @onclick="SaveSession">Session Save</button>
<button class="btn btn-danger" @onclick="ClearSession">Session Clear</button>
<br />
<br />

<span style="color:#c00;">@Message</span>
<!-- End Local Storage -->



@code {
    // Local Storage
    int SessionValue = 0;
    string Message = "";


    int ValueHigh = 75;
    int ValueLow = 25;
    
    // Local Storage


    protected override async Task OnInitializedAsync()
    {
        SessionValue = await oLocalStore.GetItemAsync<int>("MySessionValue");
    }
    public async void SaveSession()
    {
        Message = "Session Saved";
        await oLocalStore.SetItemAsync("MySessionValue", SessionValue);
    }
    public async void ClearSession()
    {
        Message = "Session Clear";
        SessionValue = 0;
        await oLocalStore.ClearAsync();
    }
}