$white: #ffffff;
$light: #f8f8f8;
$gray: #6b6b6b;
$dark: #333333;
$almost-black: #111111;
$black: #000000;

$purple: #6f5a99;
$light-purple: #ebe8f8;
$green: #cdf5de;
$yellow: #ffbb00;
$red: #f7d0d7;
$light-yellow: #fff7e4;

$transparant-yellow: rgba(255, 187, 0, 0.15);



$primary: $purple;
$secondary: $gray;
$success: $green;
$warning: $yellow;
$danger: $red;
